.Button1 {
  background-color: #f5f5f5;
  color: #0d155d;
  padding: 10px 20px;
  width: 20%;
  font-size: 24px;
  border-radius: 14px;
  margin: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
