.divInputText {
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;
  gap: 0.5rem;
}
.InputText {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #000;

  outline: none;
}
.divInputInterna {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.labelInputText {
  font-size: 1.1rem;
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.labelInputText2 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
