body {
  background-color: #246DA8;
}

.botoes-Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 10px;

}

a {
  text-decoration: none;
}

.logout {
  background-color: #df0000;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  padding: 10px 20px;
  width: 15em;
  font-size: 15px;
  margin-top: 10px;
}

.logo {
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
}

.msg-bemvindo {

  color:white;
  font-size: bold;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  display: flex;

}