body {
  background-color: #246da8;
}

.casa {
  display: flex;
  width: 5em;
  height: 4em;
}

.opcoes {
  text-decoration: none;
  align-items: center;
  justify-content: baseline;
  display: flex;
  color: #2acb27;
}

.mudanca {
  margin: auto;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.botaoCadastro {
  color: black;
  border-radius: 15px;
  background-color: #2acb27;
  height: 3em;
  width: 9%;
  margin-right: 5em;
  margin-left: 20em;
}

.form {
  display: none;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.visivel {
    display: flex;
    align-items: center;
    width: 35em;
    height: 30em;
    background-color: #246DA8;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    margin: auto;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    backdrop-filter: opacity(20%);
    margin-top: 5%;
}

.enviar {
  margin: 3%;
  color: #246da8;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 6%;
} 

.InputText {
  background-color: #d9d9d9;
  width: 60%;
  height: 30%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #000;
  outline: none;
}

  .divInputInterna {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .container {
    margin-bottom: 20px;
  }
  
  .filters {
    margin-bottom: 10px;
  }
  
  .filters input[type="text"], .filters select {
    margin-right: 10px;
  }

.fundoEscuro{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }

  table {
    width: 95%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    margin-left: 2em;
  }
  td {
    text-align: start;
    word-wrap: break-word;
  }
  th,
  td {
    max-width: 20rem;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  th {
    text-align: start;
  }
  
  thead {
    th {
      background-color: #55608f;
    }
  }
  
  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(255, 255, 255, 0.2);
          z-index: -1;
        }
      }
    }
  }

.button-pesquisar{

  background-color: #D9D9D9;
  border-radius: 10px;
  width: 10em;
  height: 3em;
  margin: 1em 1em 1em 1em;
}

.barra-pesquisa{
height: 2em;
width: 75%;
border-radius: 10px;
margin: 1em 1em 1em 1em;

}

.componentes-menu{
  
  background-color: #55608f;
  width: 95%;
  flex-direction: row;
  display: flex;
  margin-left: 2em;
}

.filtro{
  margin: 1em 1em 1em 1em;
  width: auto;
  height: 2em;
  border-radius: 10px;
}