body {
    background-color: #246DA8;
  }

.casa{

    display: flex;
    width: 5em;
    height: 4em;
}

.opcoes{
    text-decoration: none;
    align-items:center ;
    justify-content: baseline;
    display: flex;
    color: #2ACB27;
    
}

.mudanca{
    margin:auto;
    display: flex;
    align-items: center;    
}

a{
    text-decoration: none;
    color: white;
}



.enviar{

    margin: 3%;
    color:#246DA8;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 6%;
    
}

.InputText {
    background-color: #d9d9d9;
    width: 60%;
    height: 30%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000;
    outline: none;
  }


  .divInputInterna {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
.opcaoEstoque{

    display: flex;
    flex-direction: column;
    margin-top:2%;
    
}

.Button1 {
    background-color: #f5f5f5;
    color: #0d155d;
    padding: 10px 20px;
    width: 20%;
    font-size: 24px;
    border-radius: 14px;
    margin: 2%;
    height: 8%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .Button-inserir {
    background-color: #f5f5f5;
    color: #246DA8;
    padding: 10px 20px;
    width: 10%;
    border-radius: 14px;
    margin: 2%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-left: 6%;
}

.finalizacao{

display: flex;
dista

}

.finalizar{
    color: white;
    border-radius: 5px;
    background-color: #2ACB27;
    height: 3em;    
    width: auto;
    margin-left: 20em;

}

.valor{
    background-color: #f5f5f5;
    color: #246DA8;
    padding: 10px 20px;
    width: 10%;
    height: 5em;
    border-radius: 14px;
    margin-left: 15em;
}
